.wspLogo {
    margin-right: 8px;
}

.logo {
    max-width: 200px;
}

.icon1 {
    max-width: 80px;
    margin: auto;
}

.icon2 {
    max-width: 48px;
    margin: auto;
}

.hr1 {
    color: white;
    width: 50%;
    text-align: center;
    margin: auto;
}

.icon2 {
    width: 32px;
}

.icon3 {
    max-width: 100px;
    z-index: 1
}

.masthead-device-mockup {
    padding: 80px;
}

@media (min-width: 576px) {
    .icon3 {
        max-width: 160px;
    }

    .masthead-device-mockup {
        padding: unset;
    }


}

.btn-wsp {
    font-size: 16px;
}

.bi-list {
    font-size: 2rem;
}

.navbar-toggler {
    border: none;
}


.title {
    font-weight: 600;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-flotante {
    border-radius: 5px;
    padding: 20px 20px;
    position: fixed;
    bottom: 40px;
    left: 40px;
    transition: all 200ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
    background-color: #25D366;
}

@media only screen and (max-width: 600px) {
    .btn-flotante {
        font-size: 14px;
        padding: 20px 20px;
        bottom: 30px;
        left: 30px;
    }
}

@media (min-width: 992px) {
    .br-lg {
        border-right: 0.5px white solid;
    }
}

@media (max-width: 992px) {
    .bb-sm {
        border-bottom: 0.5px white solid;
    }
}