.wspLogo {
    margin-right: 8px;
}

.logo {
    max-width: 200px;
}

.icon1 {
    max-width: 80px;
    margin: auto;
}

.icon2 {
    max-width: 48px;
    margin: auto;
}

.hr1 {
    color: white;
    width: 50%;
    text-align: center;
    margin: auto;
}

.icon2 {
    width: 32px;
}

.icon3 {
    max-width: 100px;
    z-index: 1
}

.masthead-device-mockup {
    padding: 80px;
}

@media (min-width: 576px) {
    .icon3 {
        max-width: 160px;
    }

    .masthead-device-mockup {
        padding: unset;
    }


}

.btn-wsp {
    font-size: 16px;
}

.bi-list {
    font-size: 2rem;
}

.navbar-toggler {
    border: none;
}


.title {
    font-weight: 600;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-flotante {
    border-radius: 5px;
    padding: 20px 20px;
    position: fixed;
    bottom: 40px;
    left: 40px;
    transition: all 200ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
    background-color: #25D366;
}

@media only screen and (max-width: 600px) {
    .btn-flotante {
        font-size: 14px;
        padding: 20px 20px;
        bottom: 30px;
        left: 30px;
    }  
}


@media (min-width: 992px) {
    .br-lg {
        border-right: 0.5px white solid;
    }
    #galeriaImg {
        display: none;
    }
}

@media (max-width: 992px) {
    .bb-sm {
        border-bottom: 0.5px white solid;
    }
    #carouselImg {
        display:  none;
    }

    #galeriaImg {
        display: block;
    }
}

.carousel-item img {
  cursor: pointer;
}
/* También puedes agregar el cursor pointer a todo el contenedor de la imagen */
.carousel-item .col-12, .carousel-item .col-md-6, .carousel-item .col-lg-4 {
  cursor: pointer;
}

/* Mover los controles (flechas) debajo del carrusel */
.carousel-controls {
  text-align: center; /* Centrar las flechas */
  margin-top: 20px; /* Agregar espacio entre las imágenes y las flechas */
}

.carousel-control-prev, .carousel-control-next {
  position: relative; /* Asegura que las flechas sean visibles debajo del carrusel */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 15px; /* Añadir espacio lateral entre las flechas */
}
.carouselContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.carousel-control-prev-icon{
 background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20d%3D%22M9.4%20233.4c-12.5%2012.5-12.5%2032.8%200%2045.3l192%20192c12.5%2012.5%2032.8%2012.5%2045.3%200s12.5-32.8%200-45.3L77.3%20256%20246.6%2086.6c12.5-12.5%2012.5-32.8%200-45.3s-32.8-12.5-45.3%200l-192%20192z%22%2F%3E%3C%2Fsvg%3E');
}

.carousel-control-next-icon {
 background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20d%3D%22M311.1%20233.4c12.5%2012.5%2012.5%2032.8%200%2045.3l-192%20192c-12.5%2012.5-32.8%2012.5-45.3%200s-12.5-32.8%200-45.3L243.2%20256%2073.9%2086.6c-12.5-12.5-12.5-32.8%200-45.3s32.8-12.5%2045.3%200l192%20192z%22%2F%3E%3C%2Fsvg%3E');
}
.carousel-control-prev, .carousel-control-next {
  width: auto; /* Para que las flechas tengan un tamaño adecuado */
  height: 50px; /* Ajustar la altura de las flechas */
}

